DOCKER_DEV_NAME=backend-dev
DOCKER_DEV_EXPRESS_PORT=5500

DOCKER_DEV_POSTGRES_DB_NAME=quality
DOCKER_DEV_POSTGRES_DB_USER=postgres
DOCKER_DEV_POSTGRES_DB_PASSWORD=12345
DOCKER_DEV_POSTGRES_DB_PORT=5433