DOCKER_DEV_NAME=backend-dev
DOCKER_DEV_EXPRESS_PORT=5000

DOCKER_DEV_POSTGRES_DB_NAME=quality
DOCKER_DEV_POSTGRES_DB_USER=postgres
DOCKER_DEV_POSTGRES_DB_PASSWORD=12345
DOCKER_DEV_POSTGRES_DB_PORT=5434
DOCKER_DEV_JWT_SECRET=01808bc719f6c7aece709fa5b224ca78e45b94b4b204ad44ed14bff7e597c8c1

USER_UID=1000
USER_GID=1000