#Puerto del Servidor
PORT=5000

#Urls de back y font
FRONTEND_URL=http://localhost:3000
BACKEND_URL=http://localhost:5000

#Configuración de la BD
PGUSER=postgres
PGPASSWORD=12345
PGHOST=127.0.0.1
PGPORT=5434
PGDATABASE=quality

#Llave secreta (cambiar este valor en cada entorno)
JWT_SECRET=CHANGE_ME
