openapi: 3.0.0
info:
  title: "QualityTechnology API"
  version: "1.0.0"
  description: |
    Documentación en español de la API REST de QualityTechnology.
    Incluye rutas, parámetros, cuerpos de petición y esquemas inferidos
    a partir del código del proyecto. Los esquemas usan nombres semánticos
    en snake_case, sin prefijos de tipo (la nomenclatura húngara fue retirada).

servers:
  - url: https://api.qualitytechnology.com
    description: Servidor de producción
  - url: https://staging-api.qualitytechnology.com
    description: Servidor de staging
  - url: http://localhost:5000
    description: Servidor de desarrollo (local)

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  schemas:
    ErrorResponse:
      type: object
      properties:
        error:
          type: string
    Role:
      type: object
      description: "Representa un rol de usuario"
      properties:
        rol_id:
          type: integer
        nombre:
          type: string
        es_root:
          type: boolean
        activo:
          type: boolean
      required: [nombre]

    Usuario:
      type: object
      properties:
        usuario_id:
          type: integer
        nombre:
          type: string
        rol_id:
          type: integer
        activo:
          type: boolean

    UsuarioCreate:
      type: object
      properties:
        nombre:
          type: string
        contraseña:
          type: string
        rol_id:
          type: integer
        nombre_empleado:
          type: string
          description: "Requerido para roles no-root; crea el perfil de empleado vinculado."
        apellido_paterno:
          type: string
        apellido_materno:
          type: string
        departamento_id:
          type: integer
        puesto_id:
          type: integer
        unidad_negocio_id:
          type: integer
      required: [nombre, contraseña, rol_id]

    UsuarioLoginRequest:
      type: object
      properties:
        nombre:
          type: string
        contraseña:
          type: string
      required: [nombre, contraseña]

    UsuarioLoginResponse:
      type: object
      properties:
        mensaje:
          type: string
        token:
          type: string
          description: "Access token JWT (expira en 8h)"
        refreshToken:
          type: string
          description: "Refresh token (expira en 7 días, usar en POST /usuarios/refresh)"
        usuario:
          type: object
          properties:
            id:
              type: integer
            nombre:
              type: string
            rol:
              type: string
        modulos:
          type: array
          description: "Módulos disponibles para el rol del usuario"
          items:
            type: object
            properties:
              modulo_id:
                type: integer
              nombre:
                type: string
              ruta:
                type: string
              activo:
                type: boolean

    RefreshTokenRequest:
      type: object
      properties:
        refreshToken:
          type: string
      required: [refreshToken]

    RefreshTokenResponse:
      type: object
      properties:
        mensaje:
          type: string
        token:
          type: string
        refreshToken:
          type: string
        modulos:
          type: array
          items:
            type: object
            properties:
              modulo_id:
                type: integer
              nombre:
                type: string
              ruta:
                type: string
              activo:
                type: boolean

    LogoutRequest:
      type: object
      properties:
        refreshToken:
          type: string

    Pileta:
      type: object
      properties:
        pileta_id:
          type: integer
        nombre:
          type: string
        largo:
          type: number
        ancho:
          type: number
        alto:
          type: number
        metros_cubicos:
          type: number
        material:
          type: string
        estado:
          type: string
        tipo:
          type: string
        estado_conservacion:
          type: string
          nullable: true
        tipo_pileta_id:
          type: integer
          nullable: true
        tipo_pileta_nombre:
          type: string
          nullable: true
        ubicacion_id:
          type: integer
        granja:
          type: string
        cantidad:
          type: number
        ultima_observacion:
          type: string
          nullable: true
        observacion:
          type: string
          nullable: true

    Lote:
      type: object
      properties:
        lote_id:
          type: integer
        no_lote:
          type: string
        alevines_inicial:
          type: integer
        fecha:
          type: string
          format: date
        instalacion_id:
          type: integer
        granja:
          type: string
        familia:
          type: string
        huevos_ml:
          type: number
          description: "Numérico con decimales. Longitud máxima del valor enviado: 15 caracteres."
        observacion:
          type: string
          maxLength: 500

    Reproductor:
      type: object
      properties:
        reproductor_id:
          type: integer
        nombre_instalacion:
          type: string
        cantidad:
          type: number
        talla:
          type: number
          description: "Numérico con decimales. Longitud máxima del valor enviado: 15 caracteres."
        machos:
          type: integer
          description: "Entero. Longitud máxima del valor enviado: 15 caracteres."
        hembras:
          type: integer
          description: "Entero. Longitud máxima del valor enviado: 15 caracteres."
        ratio:
          type: string
        lote_genetico:
          type: string
        familia_machos:
          type: string
        observacion:
          type: string
          maxLength: 500
        fecha_siembra:
          type: string
          format: date
        fecha_biometria:
          type: string
          format: date
        dias_en_pila:
          type: number

    Engorda:
      type: object
      properties:
        engorda_id:
          type: integer
        pileta_id:
          type: integer
        destino_nombre:
          type: string
        cantidad_total:
          type: number
        cantidad:
          type: number
        cantidad_alimento:
          type: number
        peso_gramos:
          type: number
        observacion:
          type: string
          maxLength: 500
        fecha_peso:
          type: string
          format: date
        biometria_id:
          type: integer
          nullable: true
        usuario_id:
          type: integer
        granja:
          type: string

    Empleado:
      type: object
      properties:
        empleado_id:
          type: integer
        nombre:
          type: string
        apellido_paterno:
          type: string
        apellido_materno:
          type: string
        usuario_id:
          type: integer
        puesto_id:
          type: integer
        departamento_id:
          type: integer
        unidad_negocio_id:
          type: integer
        departamento_nombre:
          type: string
        puesto_nombre:
          type: string
        unidad_negocio_nombre:
          type: string
        usuario_nombre:
          type: string
        sueldo_base:
          type: number
          nullable: true
        fecha_nacimiento:
          type: string
          format: date
        fecha_ingreso:
          type: string
          format: date
        fecha_contratacion:
          type: string
          format: date
        activo:
          type: boolean

    DocumentoEmpleado:
      type: object
      properties:
        documento_id:
          type: integer
        empleado_id:
          type: integer
        tipo_documento_id:
          type: integer
        ruta_archivo:
          type: string
        nombre_original:
          type: string
        fecha_carga:
          type: string
          format: date
        tipo_nombre:
          type: string
        obligatorio:
          type: boolean
          nullable: true

    ActaAdministrativa:
      type: object
      properties:
        acta_id:
          type: integer
        empleado_id:
          type: integer
        motivo:
          type: string
        descripcion:
          type: string
        fecha:
          type: string
          format: date
        ruta_archivo:
          type: string
        nombre_original:
          type: string

    Cliente:
      type: object
      properties:
        cliente_id:
          type: integer
        nombre:
          type: string
        rfc:
          type: string
          maxLength: 20
        unidad_negocio_id:
          type: integer
        unidad_negocio_nombre:
          type: string
          readOnly: true
        empresa:
          type: string
        telefono:
          type: string
          pattern: '^[0-9]{1,10}$'
        email:
          type: string
          format: email
        localidad:
          type: string
        estado:
          type: string
        ejecutivo_empleado_id:
          type: integer
        ejecutivo_nombre:
          type: string
          readOnly: true
        activo:
          type: boolean
      required:
        - nombre
        - rfc
        - unidad_negocio_id
        - empresa
        - telefono
        - email
        - localidad
        - estado
        - ejecutivo_empleado_id

    Venta:
      type: object
      properties:
        venta_id:
          type: integer
        folio:
          type: string
        fecha:
          type: string
          format: date
        cliente_nombre:
          type: string
        tipo_venta:
          type: string
        cantidad:
          type: number
        precio_unitario:
          type: number
        monto_total:
          type: number
        monto_abonado:
          type: number
        monto_adeudo:
          type: number
        estado_pago:
          type: string
        vendedor_nombre:
          type: string
        observaciones:
          type: string
        empresa:
          type: string

    ListaEspera:
      type: object
      properties:
        lista_id:
          type: integer
        fecha_entrega:
          type: string
          format: date
        cantidad_peces:
          type: number
        cliente_nombre:
          type: string
        lugar_entrega:
          type: string
        encargado_venta:
          type: string
        unidad_produccion:
          type: string
        hora_embolsado:
          type: string
        hora_entrega:
          type: string
        precio_unitario:
          type: number
        tipo_venta:
          type: string
        granja:
          type: string
        pileta_origen_id:
          type: integer
        nombre_pileta_origen:
          type: string

    Equipo:
      type: object
      properties:
        equipo_id:
          type: integer
        nombre:
          type: string
        marca:
          type: string
        modelo:
          type: string
        tipo:
          type: string
        serial:
          type: string
        estado:
          type: string
        observaciones:
          type: string
        notas:
          type: string
        usuario_id:
          type: integer

    Mantenimiento:
      type: object
      properties:
        mantenimiento_id:
          type: integer
        equipo_id:
          type: integer
        fecha:
          type: string
          format: date
        descripcion:
          type: string
        costo:
          type: number
        responsable:
          type: string

    Expediente:
      type: object
      description: "Entidad dinámica para expedientes. Los campos pueden variar."
      additionalProperties: true

    Nomina:
      type: object
      properties:
        nomina_id:
          type: integer
        nombre_empleado:
          type: string
        empleado_id:
          type: integer
        periodo:
          type: string
        sueldo_bruto:
          type: number
        descuentos:
          type: number
        sueldo_neto:
          type: number
        total:
          type: number
        descuento:
          type: number
        fecha_pago:
          type: string
          format: date
        observaciones:
          type: string
        fecha_actualizacion:
          type: string
          format: date-time

    Vacacion:
      type: object
      properties:
        vacacion_id:
          type: integer
        empleado_id:
          type: integer
        fecha_inicio:
          type: string
          format: date
        fecha_fin:
          type: string
          format: date
        dias_tomados:
          type: integer
        tipo:
          type: string
        estatus:
          type: string
        observaciones:
          type: string
        fecha_actualizacion:
          type: string
          format: date-time

    CajaAhorroResumen:
      type: object
      properties:
        id:
          type: integer
        categoria:
          type: string
        granja:
          type: string

    Proveedor:
      type: object
      required:
        - nombre
      properties:
        proveedor_id:
          type: integer
        nombre:
          type: string
        rfc:
          type: string
          maxLength: 13
        telefono:
          type: string
          maxLength: 20
        email:
          type: string
          format: email
        direccion:
          type: string
        activo:
          type: boolean

    FlujoCajaMovimiento:
      type: object
      properties:
        movimiento_id:
          type: integer
        granja:
          type: string
        ubicacion_id:
          type: integer
        fecha:
          type: string
          format: date
        ingreso:
          type: number
        egreso:
          type: number
        observaciones:
          type: string
        cuenta_nombre:
          type: string
        categoria:
          type: string
        subcategoria:
          type: string
        beneficiario:
          type: string
        estatus:
          type: string
        mes_periodo:
          type: string
        usuario_id:
          type: integer
          nullable: true
        venta_id:
          type: integer
          nullable: true

    TesoreriaOverview:
      type: object
      properties:
        mes:
          type: string
        mes_nombre:
          type: string
        grupo:
          type: string
        subgrupo:
          type: string
        categoria:
          type: string
        subcategoria:
          type: string
        total_ingreso:
          type: number
        total_egreso:
          type: number
        saldo_neto:
          type: number

    Cuenta:
      type: object
      properties:
        cuenta_id:
          type: integer
        unidad_negocio:
          type: string
          maxLength: 100
        nombre:
          type: string
        numero_cuenta:
          type: string
          nullable: true
        banco:
          type: string
          nullable: true
          maxLength: 150
        tipo_cuenta:
          type: string
          enum: [Cheques, Efectivo, Inversion, Ahorro]
        saldo_actual:
          type: number
          format: double
        activo:
          type: boolean

    UnidadNegocio:
      type: object
      properties:
        unidad_negocio_id:
          type: integer
        nombre:
          type: string
          maxLength: 100
        activo:
          type: boolean
        ubicacion_id:
          type: integer
          nullable: true
        ubicacion_nombre:
          type: string
          nullable: true

    MovimientoAlevines:
      type: object
      properties:
        movimiento_alevines_id:
          type: integer
        usuario_id:
          type: integer
        alevines_id:
          type: integer
        pileta_id:
          type: integer
        tipo:
          type: integer
        cantidad_alevines:
          type: integer
        peso_promedio:
          type: number

    Alevin:
      type: object
      properties:
        alevines_id:
          type: integer
        numero_lote:
          type: string
        peso_promedio:
          type: number
        cantidad:
          type: integer
        observacion:
          type: string
        usuario_id:
          type: integer
        colecta_id:
          type: integer

    BitacoraAlimentacion:
      type: object
      properties:
        id:
          type: integer
        mes:
          type: string
        pileta_id:
          type: number
        peso_promedio_entrada:
          type: number
        fecha_siembra:
          type: string
          format: date
        origen_alevines:
          type: string
        fecha:
          type: string
          format: date
        total_alimento_gramos:
          type: number
        mortalidad:
          type: number
        recambio_agua:
          type: string
        temperatura_agua:
          type: number
        amonio:
          type: number
        ph:
          type: number
        observaciones:
          type: string
        usuario_id:
          type: integer

    ControlVisita:
      type: object
      properties:
        id:
          type: integer
        fecha:
          type: string
          format: date
        nombre_completo:
          type: string
        procedencia:
          type: string
        motivo:
          type: string
        observaciones:
          type: string
        foto_identificacion:
          type: string
        hora_entrada:
          type: string
          format: date-time
        hora_salida:
          type: string
          format: date-time
        usuario_id:
          type: integer
        ubicacion:
          type: string

paths:
  /roles:
    get:
      summary: "Obtener todos los roles"
      description: "Requiere token JWT + módulo /roles."
      security:
        - bearerAuth: []
      responses:
        '200':
          description: "Listado de roles"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Role'
        '500':
          description: "Error del servidor"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      summary: "Crear un nuevo rol"
      description: "Requiere token JWT + módulo /roles."
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                nombre:
                  type: string
              required: [nombre]
      responses:
        '201':
          description: "Rol creado"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Role'
        '400':
          description: "Solicitud inválida"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: "Error del servidor"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /roles/{id}:
    put:
      summary: "Actualizar un rol"
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                nombre:
                  type: string
      responses:
        '200':
          description: "Rol actualizado"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Role'
        '404':
          description: "Rol no encontrado"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: "Error del servidor"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /roles/{id}/activate:
    patch:
      summary: "Activar rol"
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: "Rol activado"
        '404':
          description: "Rol no encontrado"

  /roles/{id}/deactivate:
    patch:
      summary: "Desactivar rol"
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: "Rol desactivado"
        '400':
          description: "No se puede desactivar un rol root"
        '404':
          description: "Rol no encontrado"

  /usuarios/login:
    post:
      summary: "Inicio de sesión"
      description: |
        Autentica al usuario y devuelve un access token JWT junto con un refresh token.
        Rate limit: máximo 10 intentos cada 15 minutos por IP.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UsuarioLoginRequest'
      responses:
        '200':
          description: "Inicio de sesión exitoso"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsuarioLoginResponse'
        '400':
          description: "Faltan datos obligatorios"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: "Credenciales inválidas"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: "Demasiados intentos de inicio de sesión"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: "Error del servidor"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /usuarios/refresh:
    post:
      summary: "Renovar access token"
      description: |
        Usa un refresh token válido para obtener un nuevo access token y un nuevo refresh token.
        El refresh token usado se revoca automáticamente (rotación).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RefreshTokenRequest'
      responses:
        '200':
          description: "Token renovado"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RefreshTokenResponse'
        '400':
          description: "Falta refreshToken"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: "Refresh token inválido o expirado"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: "Error del servidor"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /usuarios/logout:
    post:
      summary: "Cerrar sesión"
      description: "Revoca el refresh token proporcionado. Requiere access token JWT."
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LogoutRequest'
      responses:
        '200':
          description: "Sesión cerrada"
          content:
            application/json:
              schema:
                type: object
                properties:
                  mensaje:
                    type: string
        '401':
          description: "No autorizado"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /usuarios:
    get:
      summary: "Obtener todos los usuarios"
      description: "Requiere token JWT + módulo /usuarios. No expone contraseñas."
      security:
        - bearerAuth: []
      responses:
        '200':
          description: "Listado de usuarios"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Usuario'
        '401':
          description: "No autorizado"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: "Error del servidor"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      summary: "Crear usuario"
      description: "Requiere token JWT + módulo /usuarios."
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UsuarioCreate'
      responses:
        '201':
          description: "Usuario creado"
          content:
            application/json:
              schema:
                type: object
                properties:
                  mensaje:
                    type: string
        '400':
          description: "Solicitud inválida"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: "No autorizado"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: "Error del servidor"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /usuarios/{id}:
    put:
      summary: "Actualizar usuario"
      description: "Requiere token JWT + módulo /usuarios."
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                nombre:
                  type: string
                contraseña:
                  type: string
                rol_id:
                  type: integer
      responses:
        '200':
          description: "Usuario actualizado"
        '400':
          description: "Solicitud inválida"
        '401':
          description: "No autorizado"
        '500':
          description: "Error del servidor"
    delete:
      summary: "Eliminar usuario"
      description: "Requiere token JWT + módulo /usuarios."
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: "Usuario eliminado"
        '401':
          description: "No autorizado"
        '500':
          description: "Error del servidor"

  /piletas/lotes/{granja}:
    get:
      summary: "Obtener lotes por granja"
      description: "Requiere token JWT. Devuelve lotes asociados a una granja."
      security:
        - bearerAuth: []
      parameters:
        - name: granja
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: "Lotes encontrados"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Lote'
        '401':
          description: "No autorizado"
        '500':
          description: "Error del servidor"

  /piletas/lote-por-inst/{inst}/{granja}:
    get:
      summary: "Obtener lote por instalación y granja"
      description: "Requiere token JWT. Devuelve el lote asociado a una instalación específica."
      security:
        - bearerAuth: []
      parameters:
        - name: inst
          in: path
          required: true
          schema:
            type: string
        - name: granja
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: "Lote encontrado"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Lote'
        '401':
          description: "No autorizado"
        '500':
          description: "Error del servidor"

  /piletas/inventario/{granja}:
    get:
      summary: "Obtener inventario por granja"
      description: "Requiere token JWT. Devuelve inventario y trazabilidad de piletas."
      security:
        - bearerAuth: []
      parameters:
        - name: granja
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: "Inventario"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Pileta'
        '401':
          description: "No autorizado"
        '500':
          description: "Error del servidor"

  /piletas/origen/{granja}:
    get:
      summary: "Obtener orígenes (instalaciones) por granja"
      description: "Requiere token JWT. Devuelve orígenes disponibles para siembra."
      security:
        - bearerAuth: []
      parameters:
        - name: granja
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: "Orígenes"
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  additionalProperties: true
        '401':
          description: "No autorizado"
        '500':
          description: "Error del servidor"

  /piletas/siembra:
    post:
      summary: "Registrar o actualizar siembra"
      description: "Requiere token JWT. Crea o actualiza una siembra en una pileta."
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                pileta_id:
                  type: integer
                instalacion_id:
                  type: integer
                origen_instalacion:
                  type: string
                lote_id:
                  type: integer
                cantidad:
                  type: number
                talla_gr:
                  type: number
                observacion:
                  type: string
                fecha_siembra:
                  type: string
                  format: date
                fecha_ultima_biometria:
                  type: string
                  format: date
                usuario_id:
                  type: integer
                granja:
                  type: string
      responses:
        '200':
          description: "Siembra registrada/actualizada"
        '400':
          description: "Solicitud inválida"
        '401':
          description: "No autorizado"
        '500':
          description: "Error del servidor"

  /piletas/movimientos/{usuario}/{granja}:
    get:
      summary: "Obtener movimientos por usuario y granja"
      description: "Requiere token JWT. Lista movimientos de alevinaje filtrados por usuario y granja."
      security:
        - bearerAuth: []
      parameters:
        - name: usuario
          in: path
          required: true
          schema:
            type: string
        - name: granja
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: "Movimientos"
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  additionalProperties: true
        '401':
          description: "No autorizado"
        '500':
          description: "Error del servidor"

  /piletas/movimientos/filtro/{usuario}/{granja}:
    get:
      summary: "Obtener movimientos con filtro"
      description: "Requiere token JWT. Filtros por texto y rango de fechas."
      security:
        - bearerAuth: []
      parameters:
        - name: usuario
          in: path
          required: true
          schema:
            type: string
        - name: granja
          in: path
          required: true
          schema:
            type: string
        - name: buscar
          in: query
          schema:
            type: string
        - name: fecha_inicio
          in: query
          schema:
            type: string
            format: date
        - name: fecha_fin
          in: query
          schema:
            type: string
            format: date
      responses:
        '200':
          description: "Movimientos filtrados"
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  additionalProperties: true
        '401':
          description: "No autorizado"
        '500':
          description: "Error del servidor"

  /piletas/movimientos/registrar:
    post:
      summary: "Registrar movimiento de alevinaje"
      description: "Requiere token JWT. Registra un movimiento y actualiza existencias."
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                origen_instalacion:
                  type: string
                origen_externo:
                  type: string
                instalacion_id:
                  type: integer
                lote_id:
                  type: integer
                cantidad:
                  type: number
                observacion:
                  type: string
                tipo_movimiento:
                  type: string
                usuario_id:
                  type: integer
                granja:
                  type: string
      responses:
        '200':
          description: "Movimiento registrado"
        '400':
          description: "Solicitud inválida"
        '401':
          description: "No autorizado"
        '500':
          description: "Error del servidor"

  /piletas/movimientos/eliminar:
    delete:
      summary: "Eliminar movimientos"
      description: "Requiere token JWT. Elimina movimientos según body (movimiento_id o eliminar_todos+granja)."
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                movimiento_id:
                  type: integer
                eliminar_todos:
                  type: boolean
                granja:
                  type: string
      responses:
        '200':
          description: "Operación completada"
        '400':
          description: "Solicitud inválida"
        '401':
          description: "No autorizado"
        '500':
          description: "Error del servidor"

  /lotes/instalaciones/{granja}:
    get:
      summary: "Obtener instalaciones para crear lote"
      description: "Requiere token JWT. Lista instalaciones por granja (para selección al crear lotes)."
      security:
        - bearerAuth: []
      parameters:
        - name: granja
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: "Listado de instalaciones"
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  additionalProperties: true
        '401':
          description: "No autorizado"

  /lotes/familia/{instalacion}:
    get:
      summary: "Obtener familia por instalación"
      description: "Requiere token JWT. Devuelve la familia asociada a una instalación (reproductores)."
      security:
        - bearerAuth: []
      parameters:
        - name: instalacion
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: "Familia"
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          description: "No autorizado"

  /lotes/granja/{granja}:
    get:
      summary: "Obtener lotes por granja"
      description: "Requiere token JWT. Lista lotes de una granja."
      security:
        - bearerAuth: []
      parameters:
        - name: granja
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: "Listado de lotes"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Lote'
        '401':
          description: "No autorizado"

  /lotes/instalacion/{id}:
    get:
      summary: "Obtener lotes por instalación"
      description: "Requiere token JWT. Obtiene lotes asociados a una instalación."
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: "Listado de lotes"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Lote'
        '401':
          description: "No autorizado"

  /lotes:
    post:
      summary: "Crear lote"
      description: "Requiere token JWT. Crea un nuevo lote."
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Lote'
      responses:
        '201':
          description: "Lote creado"
        '400':
          description: "Solicitud inválida"
        '401':
          description: "No autorizado"


  /lotes/{id}:
    put:
      summary: "Actualizar lote por ID"
      description: "Requiere token JWT. Actualiza los campos del lote especificado."
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Lote'
      responses:
        '200':
          description: "Lote actualizado"
        '404':
          description: "No encontrado"
        '500':
          description: "Error del servidor"
    delete:
      summary: "Eliminar lote"
      description: "Requiere token JWT. Elimina un lote por su ID."
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '204':
          description: "Lote eliminado"
        '404':
          description: "No encontrado"
        '500':
          description: "Error del servidor"

  /reproductores/{granja}:
    get:
      summary: "Obtener reproductores por granja"
      description: "Devuelve reproductores y métricas (días en pila) para la granja indicada."
      parameters:
        - name: granja
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: "Listado de reproductores"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Reproductor'
        '500':
          description: "Error del servidor"

  /reproductores:
    post:
      summary: "Registrar reproductor"
      description: "Registra un reproductor y la trazabilidad inicial."
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                nombre_instalacion:
                  type: string
                origen_texto:
                  type: string
                cantidad:
                  type: number
                talla:
                  type: number
                  description: "Numérico con decimales. Longitud máxima del valor enviado: 15 caracteres."
                usuario_id:
                  type: integer
                granja:
                  type: string
                machos:
                  type: integer
                  description: "Entero. Longitud máxima del valor enviado: 15 caracteres."
                hembras:
                  type: integer
                  description: "Entero. Longitud máxima del valor enviado: 15 caracteres."
                lote_genetico:
                  type: string
                familia_machos:
                  type: string
                observacion:
                  type: string
                  maxLength: 500
      responses:
        '200':
          description: "Reproductor registrado"
        '400':
          description: "Solicitud inválida"
        '500':
          description: "Error del servidor"

  /reproductores/{id}:
    put:
      summary: "Actualizar reproductor"
      description: "Actualiza un reproductor y registra trazabilidad adicional."
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        '200':
          description: "Reproductor actualizado"
        '500':
          description: "Error del servidor"
  /engorda/granja/{granja}:
    get:
      summary: "Listar registros de Engorda por granja"
      parameters:
        - name: granja
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: "Listado de engorda"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Engorda'
        '500':
          description: "Error del servidor"

  /engorda:
    post:
      summary: "Registrar o actualizar Engorda"
      description: "Crea nuevo registro de engorda o actualiza uno existente si se incluye engorda_id."
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Engorda'
      responses:
        '200':
          description: "Registro creado/actualizado"
        '400':
          description: "Solicitud inválida"
        '500':
          description: "Error del servidor"

  /empleados:
    get:
      summary: "Obtener empleados"
      description: "Devuelve lista de empleados."
      responses:
        '200':
          description: "Listado de empleados"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Empleado'
        '500':
          description: "Error del servidor"
    post:
      summary: "Crear empleado"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Empleado'
      responses:
        '201':
          description: "Empleado creado"
        '500':
          description: "Error del servidor"

  /empleados/{id}:
    put:
      summary: "Actualizar empleado"
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Empleado'
      responses:
        '200':
          description: "Empleado actualizado"
        '404':
          description: "No encontrado"
        '500':
          description: "Error del servidor"
  /empleados/{id}/deactivate:
    patch:
      summary: "Desactivar empleado"
      description: "Requiere token JWT + módulo /empleados. Si no se envía fecha_baja, usa la fecha del día del servidor."
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                fecha_baja:
                  type: string
                  format: date
      responses:
        '200':
          description: "Empleado desactivado"
        '404':
          description: "No encontrado"
        '500':
          description: "Error del servidor"

  /empleados/{id}/activate:
    patch:
      summary: "Activar empleado"
      description: "Requiere token JWT + módulo /empleados. Limpia fecha_baja."
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: "Empleado activado"
        '404':
          description: "No encontrado"
        '500':
          description: "Error del servidor"

  /empleados/mi-perfil:
    get:
      summary: "Obtener mi perfil de empleado"
      security:
        - bearerAuth: []
      responses:
        '200':
          description: "Perfil de empleado"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Empleado'
        '404':
          description: "Perfil no vinculado"
    put:
      summary: "Actualizar mi perfil de empleado"
      description: "Solo actualiza datos personales; no permite modificar UdN ni fecha de baja."
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Empleado'
      responses:
        '200':
          description: "Perfil actualizado"

  /documentos-empleado/{empleadoId}:
    get:
      summary: "Listar documentos de un empleado"
      security:
        - bearerAuth: []
      parameters:
        - name: empleadoId
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: "Documentos del empleado"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DocumentoEmpleado'

  /documentos-empleado/{empleadoId}/upload:
    post:
      summary: "Subir documento de empleado"
      security:
        - bearerAuth: []
      parameters:
        - name: empleadoId
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [tipo_documento_id, archivo]
              properties:
                tipo_documento_id:
                  type: integer
                archivo:
                  type: string
                  format: binary
      responses:
        '201':
          description: "Documento subido"

  /documentos-empleado/mis-documentos:
    get:
      summary: "Listar mis documentos"
      security:
        - bearerAuth: []
      responses:
        '200':
          description: "Documentos propios"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DocumentoEmpleado'

  /documentos-empleado/mis-documentos/upload:
    post:
      summary: "Subir mi documento"
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [tipo_documento_id, archivo]
              properties:
                tipo_documento_id:
                  type: integer
                archivo:
                  type: string
                  format: binary
      responses:
        '201':
          description: "Documento subido"

  /documentos-empleado/view/{documentoId}:
    get:
      summary: "Visualizar documento de empleado"
      security:
        - bearerAuth: []
      parameters:
        - name: documentoId
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: "Archivo inline"

  /documentos-empleado/download/{documentoId}:
    get:
      summary: "Descargar documento de empleado"
      security:
        - bearerAuth: []
      parameters:
        - name: documentoId
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: "Archivo descargable"

  /documentos-empleado/mis-documentos/view/{documentoId}:
    get:
      summary: "Visualizar mi documento"
      security:
        - bearerAuth: []
      parameters:
        - name: documentoId
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: "Archivo inline"

  /documentos-empleado/mis-documentos/download/{documentoId}:
    get:
      summary: "Descargar mi documento"
      security:
        - bearerAuth: []
      parameters:
        - name: documentoId
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: "Archivo descargable"

  /documentos-empleado/{documentoId}:
    delete:
      summary: "Eliminar documento de empleado"
      security:
        - bearerAuth: []
      parameters:
        - name: documentoId
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: "Documento eliminado"

  /documentos-empleado/mis-documentos/{documentoId}:
    delete:
      summary: "Eliminar mi documento"
      security:
        - bearerAuth: []
      parameters:
        - name: documentoId
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: "Documento eliminado"

  /actas-administrativas/{empleadoId}:
    get:
      summary: "Listar actas administrativas de un empleado"
      description: "Requiere token JWT + módulo /empleados."
      security:
        - bearerAuth: []
      parameters:
        - name: empleadoId
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: "Actas administrativas"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ActaAdministrativa'

  /actas-administrativas/{empleadoId}/upload:
    post:
      summary: "Guardar acta administrativa"
      description: "Requiere token JWT + módulo /empleados."
      security:
        - bearerAuth: []
      parameters:
        - name: empleadoId
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [motivo, fecha, archivo]
              properties:
                motivo:
                  type: string
                fecha:
                  type: string
                  format: date
                archivo:
                  type: string
                  format: binary
      responses:
        '201':
          description: "Acta administrativa guardada"

  /actas-administrativas/view/{actaId}:
    get:
      summary: "Visualizar acta administrativa"
      security:
        - bearerAuth: []
      parameters:
        - name: actaId
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: "Archivo inline"

  /actas-administrativas/download/{actaId}:
    get:
      summary: "Descargar acta administrativa"
      security:
        - bearerAuth: []
      parameters:
        - name: actaId
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: "Archivo descargable"

  /actas-administrativas/{actaId}:
    delete:
      summary: "Eliminar acta administrativa"
      security:
        - bearerAuth: []
      parameters:
        - name: actaId
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: "Acta administrativa eliminada"

  /clientes:
    get:
      summary: "Obtener clientes"
      responses:
        '200':
          description: "Listado de clientes"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Cliente'
    post:
      summary: "Registrar cliente"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Cliente'
      responses:
        '201':
          description: "Cliente creado"
        '500':
          description: "Error del servidor"

  /clientes/empleados-activos:
    get:
      summary: "Listar empleados activos para seleccionar ejecutivo"
      responses:
        '200':
          description: "Listado de empleados activos"
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    empleado_id:
                      type: integer
                    nombre_completo:
                      type: string
        '500':
          description: "Error del servidor"

  /clientes/{id}:
    put:
      summary: "Actualizar cliente"
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Cliente'
      responses:
        '200':
          description: "Cliente actualizado"
        '500':
          description: "Error del servidor"

  /clientes/{id}/activate:
    patch:
      summary: "Activar cliente"
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: "Cliente activado"
        '404':
          description: "Cliente no encontrado"

  /clientes/{id}/deactivate:
    patch:
      summary: "Desactivar cliente"
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: "Cliente desactivado"
        '404':
          description: "Cliente no encontrado"

  /ventas/clientes:
    get:
      summary: "Listar clientes para ventas"
      description: "Lista clientes simplificados (id/nombre)."
      responses:
        '200':
          description: "Listado"
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                    nombre:
                      type: string

  /ventas/encargados/{empresa}:
    get:
      summary: "Obtener encargados por empresa"
      parameters:
        - name: empresa
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: "Listado de encargados"
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                    nombre:
                      type: string

  /ventas:
    get:
      summary: "Listar ventas"
      responses:
        '200':
          description: "Listado de ventas"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Venta'
    post:
      summary: "Registrar venta"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                folio:
                  type: string
                fecha:
                  type: string
                  format: date
                cliente_nombre:
                  type: string
                tipo_venta:
                  type: string
                cantidad:
                  type: number
                precio_unitario:
                  type: number
                monto_abonado:
                  type: number
                vendedor_nombre:
                  type: string
                observaciones:
                  type: string
                empresa:
                  type: string
      responses:
        '200':
          description: "Venta registrada"
        '400':
          description: "Solicitud inválida"
        '500':
          description: "Error del servidor"

  /ventas/{id}:
    put:
      summary: "Actualizar venta"
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Venta'
      responses:
        '200':
          description: "Venta actualizada"
        '500':
          description: "Error del servidor"
    delete:
      summary: "Eliminar venta"
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: "Venta eliminada"
        '500':
          description: "Error del servidor"

  /ventas/{id}/pagos:
    get:
      summary: "Listar pagos de una venta"
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: "Historial de pagos (movimientos de flujo de caja ligados a la venta)"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FlujoCajaMovimiento'
        '404':
          description: "Venta no encontrada"
        '500':
          description: "Error del servidor"
    post:
      summary: "Registrar pago (abono) de una venta"
      description: "Crea un ingreso en flujo de caja ligado a la venta, suma al saldo de la cuenta y actualiza monto_abonado/estado_pago (ADEUDO, PARCIAL, LIQUIDADO)."
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - cuenta_nombre
                - monto
              properties:
                fecha:
                  type: string
                  format: date
                cuenta_nombre:
                  type: string
                monto:
                  type: number
                observaciones:
                  type: string
      responses:
        '201':
          description: "Pago registrado"
        '400':
          description: "Solicitud invalida (monto, cuenta o adeudo)"
        '404':
          description: "Venta no encontrada"
        '500':
          description: "Error del servidor"

  /ventas/{id}/pagos/{movId}:
    delete:
      summary: "Anular pago de una venta"
      description: "Revierte el abono en la venta, resta el saldo de la cuenta y elimina el movimiento de flujo de caja."
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
        - name: movId
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: "Pago anulado"
        '400':
          description: "No se puede anular (saldo insuficiente o movimiento invalido)"
        '404':
          description: "Pago o venta no encontrados"
        '500':
          description: "Error del servidor"

  /lista-espera:
    post:
      summary: "Crear registro en lista de espera"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ListaEspera'
      responses:
        '201':
          description: "Creado"
    get:
      summary: "Obtener lista de espera"
      responses:
        '200':
          description: "Listado"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ListaEspera'

  /lista-espera/{id}:
    put:
      summary: "Actualizar registro de lista de espera"
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ListaEspera'
      responses:
        '200':
          description: "Actualizado"
    delete:
      summary: "Eliminar registro de lista de espera"
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '204':
          description: "Eliminado"

  /lista-espera/convertir/{id}:
    post:
      summary: "Convertir registro de lista de espera a venta"
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: "Convertido a venta"
        '404':
          description: "Registro no encontrado"

  /equipos/{usuario_id}:
    get:
      summary: "Obtener equipos por usuario"
      parameters:
        - name: usuario_id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: "Listado de equipos"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Equipo'

  /equipos:
    post:
      summary: "Registrar equipo"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Equipo'
      responses:
        '201':
          description: "Equipo creado"

  /equipos/{id}:
    put:
      summary: "Actualizar equipo"
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Equipo'
      responses:
        '200':
          description: "Equipo actualizado"
  /equipos/{equipo_id}/mantenimientos:
    get:
      summary: "Obtener mantenimientos por equipo"
      parameters:
        - name: equipo_id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: "Listado de mantenimientos"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Mantenimiento'
    post:
      summary: "Registrar mantenimiento para un equipo"
      parameters:
        - name: equipo_id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Mantenimiento'
      responses:
        '201':
          description: "Mantenimiento registrado"

  /equipos/mantenimientos/{mantenimiento_id}:
    put:
      summary: "Actualizar mantenimiento"
      parameters:
        - name: mantenimiento_id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Mantenimiento'
      responses:
        '200':
          description: "Mantenimiento actualizado"
  /expedientes:
    get:
      summary: "Listar expedientes o buscar por nombre"
      parameters:
        - name: nombre
          in: query
          schema:
            type: string
      responses:
        '200':
          description: "Listado de expedientes"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Expediente'
    post:
      summary: "Crear expediente"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Expediente'
      responses:
        '201':
          description: "Expediente creado"
    delete:
      summary: "Eliminar todos los expedientes"
      responses:
        '200':
          description: "Todos los expedientes eliminados"

  /expedientes/{id}:
    put:
      summary: "Actualizar expediente"
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Expediente'
      responses:
        '200':
          description: "Expediente actualizado"
    delete:
      summary: "Eliminar expediente"
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: "Expediente eliminado"

  /nomina:
    get:
      summary: "Obtener nóminas (filtrado opcional)"
      parameters:
        - name: nombre
          in: query
          schema:
            type: string
        - name: fecha
          in: query
          schema:
            type: string
            format: date
      responses:
        '200':
          description: "Listado de nóminas"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Nomina'
    post:
      summary: "Registrar pago de nómina"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Nomina'
      responses:
        '201':
          description: "Pago registrado"

  /nomina/{id}:
    put:
      summary: "Actualizar nómina"
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Nomina'
      responses:
        '200':
          description: "Nómina actualizada"
  /vacaciones:
    get:
      summary: "Obtener todos los registros de vacaciones"
      responses:
        '200':
          description: "Listado"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Vacacion'
    post:
      summary: "Crear registro de vacaciones"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Vacacion'
      responses:
        '201':
          description: "Creado"

  /vacaciones/{id}:
    put:
      summary: "Actualizar registro de vacaciones"
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Vacacion'
      responses:
        '200':
          description: "Actualizado"

  /caja-ahorro/{granja}:
    get:
      summary: "Obtener resumen de caja ahorro por granja"
      parameters:
        - name: granja
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: "Listado de resumen"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CajaAhorroResumen'

  /caja-ahorro:
    post:
      summary: "Crear categoría de caja ahorro"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                categoria:
                  type: string
                granja:
                  type: string
      responses:
        '201':
          description: "Categoría creada"
    put:
      summary: "Actualizar categoría (por id en path)"
      description: "Se actualizan campos dinámicamente"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        '200':
          description: "Actualizado"

  /proveedores:
    get:
      summary: "Obtener proveedores"
      responses:
        '200':
          description: "Listado de proveedores"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Proveedor'
    post:
      summary: "Crear proveedor"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Proveedor'
      responses:
        '201':
          description: "Proveedor creado"

  /proveedores/{id}:
    put:
      summary: "Actualizar proveedor"
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Proveedor'
      responses:
        '200':
          description: "Proveedor actualizado"

  /proveedores/{id}/activate:
    patch:
      summary: "Activar proveedor"
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: "Proveedor activado"
        '404':
          description: "Proveedor no encontrado"

  /proveedores/{id}/deactivate:
    patch:
      summary: "Desactivar proveedor"
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: "Proveedor desactivado"
        '404':
          description: "Proveedor no encontrado"

  /flujo-caja/tesoreria/{granja}:
    get:
      summary: "Obtener tesorería por granja"
      parameters:
        - name: granja
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: "Resumen de tesorería"
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  additionalProperties: true

  /flujo-caja/{granja}:
    get:
      summary: "Obtener movimientos de flujo de caja por granja"
      parameters:
        - name: granja
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: "Listado de movimientos"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FlujoCajaMovimiento'

  /flujo-caja:
    get:
      summary: "Obtener todos los movimientos de flujo de caja (bitacora de solo lectura)"
      responses:
        '200':
          description: "Listado de movimientos"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FlujoCajaMovimiento'

  /tesoreria:
    get:
      summary: "Obtener vista general de tesorería"
      description: "Soporta filtros por anio, granja, grupo, subgrupo y categoria."
      parameters:
        - name: anio
          in: query
          schema:
            type: integer
        - name: granja
          in: query
          schema:
            type: string
        - name: grupo
          in: query
          schema:
            type: string
        - name: subgrupo
          in: query
          schema:
            type: string
        - name: categoria
          in: query
          schema:
            type: string
      responses:
        '200':
          description: "Datos de tesorería"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TesoreriaOverview'

  /cuentas:
    get:
      summary: "Obtener todas las cuentas"
      security:
        - bearerAuth: []
      responses:
        '200':
          description: "Listado de cuentas"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Cuenta'
    post:
      summary: "Crear cuenta"
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [unidad_negocio, nombre, tipo_cuenta]
              properties:
                unidad_negocio:
                  type: string
                  maxLength: 100
                nombre:
                  type: string
                numero_cuenta:
                  type: string
                  nullable: true
                banco:
                  type: string
                  nullable: true
                  maxLength: 150
                tipo_cuenta:
                  type: string
                  enum: [Cheques, Efectivo, Inversion, Ahorro]
      responses:
        '201':
          description: "Cuenta creada"
        '400':
          description: "Solicitud inválida"

  /cuentas/activos:
    get:
      summary: "Obtener cuentas activas (para dropdowns)"
      security:
        - bearerAuth: []
      responses:
        '200':
          description: "Listado de cuentas activas"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Cuenta'

  /cuentas/{id}:
    put:
      summary: "Actualizar datos maestros de cuenta (no modifica saldos)"
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [unidad_negocio, nombre, tipo_cuenta]
              properties:
                unidad_negocio:
                  type: string
                  maxLength: 100
                nombre:
                  type: string
                numero_cuenta:
                  type: string
                  nullable: true
                banco:
                  type: string
                  nullable: true
                  maxLength: 150
                tipo_cuenta:
                  type: string
                  enum: [Cheques, Efectivo, Inversion, Ahorro]
      responses:
        '200':
          description: "Cuenta actualizada"
        '400':
          description: "Solicitud inválida"
        '404':
          description: "Cuenta no encontrada"

  /cuentas/{id}/activate:
    patch:
      summary: "Activar cuenta"
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: "Cuenta activada"
        '404':
          description: "Cuenta no encontrada"

  /cuentas/{id}/deactivate:
    patch:
      summary: "Desactivar cuenta"
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: "Cuenta desactivada"
        '404':
          description: "Cuenta no encontrada"

  /unidades-negocio:
    get:
      summary: "Obtener todas las unidades de negocio"
      security:
        - bearerAuth: []
      responses:
        '200':
          description: "Listado de unidades de negocio"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/UnidadNegocio'
    post:
      summary: "Crear unidad de negocio"
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [nombre]
              properties:
                nombre:
                  type: string
                  maxLength: 100
      responses:
        '201':
          description: "Unidad de negocio creada"
        '400':
          description: "Solicitud inválida"

  /unidades-negocio/activos:
    get:
      summary: "Obtener unidades de negocio activas (para dropdowns)"
      security:
        - bearerAuth: []
      responses:
        '200':
          description: "Listado de unidades de negocio activas"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/UnidadNegocio'

  /unidades-negocio/{id}:
    put:
      summary: "Actualizar unidad de negocio"
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [nombre]
              properties:
                nombre:
                  type: string
                  maxLength: 100
      responses:
        '200':
          description: "Unidad de negocio actualizada"
        '400':
          description: "Solicitud inválida"
        '404':
          description: "Unidad de negocio no encontrada"

  /unidades-negocio/{id}/activate:
    patch:
      summary: "Activar unidad de negocio"
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: "Unidad de negocio activada"
        '404':
          description: "Unidad de negocio no encontrada"

  /unidades-negocio/{id}/deactivate:
    patch:
      summary: "Desactivar unidad de negocio"
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: "Unidad de negocio desactivada"
        '404':
          description: "Unidad de negocio no encontrada"

  /biometrias/{granja}:
    get:
      summary: "Obtener biometrias por granja"
      description: "Rutas protegidas por JWT."
      security:
        - bearerAuth: []
      parameters:
        - name: granja
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: "Listado de biometrias"
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  additionalProperties: true

  /biometrias/info/{granja}/{instalacion}:
    get:
      summary: "Obtener info de biometría por granja e instalación"
      security:
        - bearerAuth: []
      parameters:
        - name: granja
          in: path
          required: true
          schema:
            type: string
        - name: instalacion
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: "Información"
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true

  /biometrias:
    get:
      summary: "Listar todas las biometrías"
      security:
        - bearerAuth: []
      responses:
        '200':
          description: "Listado"
    post:
      summary: "Crear registro de biometría"
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - fecha
                - proveedor_nombre
                - producto
                - numero_lote
                - cantidad
                - unidad_medida
                - condiciones_entrega
                - encargado_entrega
                - verificador
                - observaciones
                - ubicacion
              properties:
                fecha:
                  type: string
                  format: date
                proveedor_nombre:
                  type: string
                  maxLength: 100
                producto:
                  type: string
                  maxLength: 255
                numero_lote:
                  type: string
                  maxLength: 100
                cantidad:
                  type: number
                  minimum: 0
                unidad_medida:
                  type: string
                  maxLength: 255
                condiciones_entrega:
                  type: string
                  maxLength: 150
                encargado_entrega:
                  type: string
                  maxLength: 100
                  description: "Nombre completo del empleado encargado de entrega."
                verificador:
                  type: string
                  maxLength: 100
                  description: "Nombre completo del empleado que verificó."
                observaciones:
                  type: string
                  maxLength: 500
                ubicacion:
                  type: string
      responses:
        '201':
          description: "Creado"
    put:
      summary: "Actualizar biometría (por ID)"
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - fecha
                - proveedor_nombre
                - producto
                - numero_lote
                - cantidad
                - unidad_medida
                - condiciones_entrega
                - encargado_entrega
                - verificador
                - observaciones
                - ubicacion
              properties:
                fecha:
                  type: string
                  format: date
                proveedor_nombre:
                  type: string
                  maxLength: 100
                producto:
                  type: string
                  maxLength: 255
                numero_lote:
                  type: string
                  maxLength: 100
                cantidad:
                  type: number
                  minimum: 0
                unidad_medida:
                  type: string
                  maxLength: 255
                condiciones_entrega:
                  type: string
                  maxLength: 150
                encargado_entrega:
                  type: string
                  maxLength: 100
                  description: "Nombre completo del empleado encargado de entrega."
                verificador:
                  type: string
                  maxLength: 100
                  description: "Nombre completo del empleado que verificó."
                observaciones:
                  type: string
                  maxLength: 500
                ubicacion:
                  type: string
      responses:
        '200':
          description: "Actualizado"

  /control-fauna-nociva:
    get:
      summary: "Listar control de fauna nociva"
      security:
        - bearerAuth: []
      responses:
        '200':
          description: "Listado"
    post:
      summary: "Crear registro de control de fauna nociva"
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        '201':
          description: "Creado"
    put:
      summary: "Actualizar registro de control de fauna nociva"
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        '200':
          description: "Actualizado"

  /control-fauna-nociva/empleados:
    get:
      summary: "Listar empleados activos para control de fauna nociva"
      security:
        - bearerAuth: []
      responses:
        '200':
          description: "Listado"

  /alimentacion:
    get:
      summary: "Listar bitácora de alimentación"
      security:
        - bearerAuth: []
      responses:
        '200':
          description: "Listado"
    post:
      summary: "Crear registro de alimentación"
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BitacoraAlimentacion'
      responses:
        '201':
          description: "Creado"
    put:
      summary: "Actualizar registro de alimentación"
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BitacoraAlimentacion'
      responses:
        '200':
          description: "Actualizado"

  /recepcion_insumos:
    get:
      summary: "Listar recepción de insumos"
      security:
        - bearerAuth: []
      responses:
        '200':
          description: "Listado"
    post:
      summary: "Registrar recepción de insumo"
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        '201':
          description: "Creado"
    put:
      summary: "Actualizar recepción de insumo"
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        '200':
          description: "Actualizado"

  /recepcion_insumos/empleados:
    get:
      summary: "Listar empleados activos para recepción de insumos"
      security:
        - bearerAuth: []
      responses:
        '200':
          description: "Listado"

  /control-visitas:
    get:
      summary: "Listar control de visitas"
      security:
        - bearerAuth: []
      responses:
        '200':
          description: "Listado de control de visitas"
    post:
      summary: "Registrar control de visita (con imagen opcional)"
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                foto_identificacion:
                  type: string
                  format: binary
                fecha:
                  type: string
                  format: date
                nombre_completo:
                  type: string
                procedencia:
                  type: string
                motivo:
                  type: string
                observaciones:
                  type: string
      responses:
        '201':
          description: "Control de visita registrado"
    put:
      summary: "Actualizar control de visita (con imagen opcional)"
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                foto_identificacion:
                  type: string
                  format: binary
                fecha:
                  type: string
                  format: date
                nombre_completo:
                  type: string
      responses:
        '200':
          description: "Actualizado"

  /control-limpieza:
    get:
      summary: "Listar control de limpieza"
      security:
        - bearerAuth: []
      responses:
        '200':
          description: "Listado"
    post:
      summary: "Crear registro de control de limpieza"
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                fecha:
                  type: string
                  format: date
                tipo_instalacion:
                  type: string
                  enum: ["Baño de Hombres", "Baño de Mujeres", "Regadera"]
                realizado_por:
                  type: string
                observaciones:
                  type: string
                ubicacion:
                  type: string
      responses:
        '201':
          description: "Creado"

  /control-limpieza/empleados:
    get:
      summary: "Listar empleados activos para control de limpieza"
      security:
        - bearerAuth: []
      responses:
        '200':
          description: "Listado"

  /parametros:
    get:
      summary: "Listar parámetros"
      security:
        - bearerAuth: []
      responses:
        '200':
          description: "Listado"
    post:
      summary: "Crear parámetro"
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        '201':
          description: "Creado"

  /medicamentos:
    get:
      summary: "Listar medicamentos"
      security:
        - bearerAuth: []
      responses:
        '200':
          description: "Listado"
    post:
      summary: "Crear registro de medicamento"
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        '201':
          description: "Creado"

  /recambios:
    get:
      summary: "Listar recambios"
      security:
        - bearerAuth: []
      responses:
        '200':
          description: "Listado"
    post:
      summary: "Crear recambio"
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        '201':
          description: "Creado"

  /inventario:
    get:
      summary: "Listar inventario"
      security:
        - bearerAuth: []
      responses:
        '200':
          description: "Listado"
    post:
      summary: "Crear registro de inventario"
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        '201':
          description: "Creado"

  /alevines:
    get:
      summary: "Obtener alevines"
      responses:
        '200':
          description: "Listado de alevines"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Alevin'
    post:
      summary: "Crear alevín"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Alevin'
      responses:
        '201':
          description: "Alevín creado"

  /alevines/{id}:
    put:
      summary: "Actualizar alevín"
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Alevin'
      responses:
        '200':
          description: "Alevín actualizado"
    delete:
      summary: "Eliminar alevín"
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: "Alevín eliminado"

  /movimiento_alevines:
    get:
      summary: "Listar movimientos de alevines"
      responses:
        '200':
          description: "Listado"
    post:
      summary: "Crear movimiento de alevines"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MovimientoAlevines'
      responses:
        '201':
          description: "Movimiento creado"

  /movimiento_alevines/{id}:
    put:
      summary: "Actualizar movimiento de alevines"
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MovimientoAlevines'
      responses:
        '200':
          description: "Movimiento actualizado"
    delete:
      summary: "Eliminar movimiento de alevines"
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '204':
          description: "Eliminado"

  /health:
    get:
      summary: "Comprobación de salud simple"
      description: "Endpoint auxiliar para verificar que la API está arriba."
      responses:
        '200':
          description: "OK"
